<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="TravelConnectionString" connectionString="Data Source=(LocalDB)\\v11.0;AttachDbFilename=App_Data\\Travel.mdf;Integrated Security=True;Connect Timeout=5"            providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>